*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(165,134,134)
}
header{
    background-color: rgb(233,233,233);
    text-align: center;
    width: 1080px;
    height: 200px;
    margin:auto;
    font-size: 50px;
    font-family: 'Aria lNarrow', sans-serif;
     
}
/*#tealSection{*/
/*    background-color: rgb(100,176,167);*/
/*    position: absolute;*/
/*    left: 235px; top: 200px;*/
/*    width: 340px;*/
/*    height: 850px;*/
/*    font-family: 'Aria lNarrow', sans-serif;*/
/*    list-style-position:inside;*/
     
/*}*/
/*h2{*/
    
/*    font-size: 40px;*/
/*}*/
/*ol{*/
/*    font-size: 30px*/
/*}*/
h2{
    background-color: rgb(100,176,167);
    position: absolute;
    left: 220px; top: 200px;
    padding: 20px;
    width: 340px;
    height:850px;
    font-size: 40px;
    font-family: 'Aria lNarrow', sans-serif;
  
}
ol{
    /*list-style-position: inside;*/
    background-color: rgb(100,176,167);
    position: absolute;
    left: 260px; top: 290px;
    width: 310px;
    height:770px;
    font-size: 30px;
    font-family: 'Aria lNarrow', sans-serif;
    
  
}

#white{
    background-color: white;
    position: absolute;
    left: 620px; top: 240px;
    width: 680px;
    height:800px;
    z-index: 2;
    font-size: 20px;
    font-family: 'Aria lNarrow', sans-serif;
}

img{
    width: 400px;
    height:400px;
    position: absolute;
    left: 620px; top: 600px;
    z-index: 3;
    
}
.white-background{
    background-color: white;
    position: absolute;
    left: 560px; top: 200px;
    width: 740px;
    height:850px;
    z-index: 1;
}
figurecaption{
    background-color: white;
    position: absolute;
    left: 620px; top:1000px;
    width: 70px;
    height:30px;
    z-index: 3;
}

#white2{
    color: white
}
