*{
    margin:0;
    padding: 0;
}
/*everything*/
body{
    background-color: rgb(165,134,134)
}
/*The title and the date at the top*/
header{
    background-color: rgb(233,233,233);
    text-align: center;
    width: 1080px;
    height: 200px;
    margin:auto;
    font-size: 50px;
    font-family: 'Aria lNarrow', sans-serif;
     
}
/*Dont delete going to try later*/
/*#tealSection{*/
/*    background-color: rgb(100,176,167);*/
/*    position: absolute;*/
/*    left: 235px; top: 200px;*/
/*    width: 340px;*/
/*    height: 850px;*/
/*    font-family: 'Aria lNarrow', sans-serif;*/
/*    list-style-position:inside;*/
     
/*}*/
/*h2{*/
    
/*    font-size: 40px;*/
/*}*/
/*ol{*/
/*    font-size: 30px*/
/*}*/


/*the heading for the to do list on the left*/
h2{
    background-color: rgb(100,176,167);
    position: absolute;
    left: 220px; top: 200px;
    padding: 20px;
    width: 340px;
    height:800px;
    font-size: 40px;
    font-family: 'Aria lNarrow', sans-serif;
  
}
/*The order list on the left I tried list-style-position: inside and it fixed the problem but I like how this looks. I left everything commented so you can try yourself*/
ol{
    /*list-style-position: inside;*/
    background-color: rgb(100,176,167);
    position: absolute;
    left: 260px; top: 290px;
    width: 310px;
    height:700px;
    font-size: 30px;
    font-family: 'Aria lNarrow', sans-serif;
    
  
}
/*the two paragraphs used padding to move them more inward*/
#white{
    background-color: white;
    padding-top:40px;
    padding-left:50px ;
    position: absolute;
    left: 560px; top: 200px;
    width: 690px;
    height:800px;
    z-index: 2;
    font-size: 20px;
    font-family: 'Aria lNarrow', sans-serif;
}
/*For the img of the woman*/
img{
    width: 400px;
    height:400px;
    position: absolute;
    left: 620px; top: 600px;
    z-index: 3;
    
}
/*dont need this. However, it was for practice, dont delete plx */
/*.white-background{*/
/*    background-color: white;*/
/*    position: absolute;*/
/*    left: 560px; top: 200px;*/
/*    width: 740px;*/
/*    height:850px;*/
/*    z-index: 1;*/

/*for the caption that says "dope art"*/
figurecaption{
    background-color: white;
    position: absolute;
    left: 620px; top:1000px;
    width: 70px;
    height:30px;
    z-index: 3;
}
/*for the juice word in the unordered list*/
#white2{
    color: white
}
