*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(165,134,134)
}
header{
    background-color: rgb(233,233,233);
    text-align: center;
    width: 1000px;
    height: 200px;
    margin:auto;
     
}
h2{
    background-color: rgb(100,176,167);
    position: absolute;
    left: 260px; top: 200px;
    width: 300px;
    height:800px;
  
}
ol{
    background-color: rgb(100,176,167);
    position: absolute;
    left: 280px; top: 230px;
    width: 280px;
    height:770px;
    /*text-align: right;*/
  
}

#white{
    background-color: white;
    position: absolute;
    left: 600px; top: 200px;
    width: 660px;
    height:800px;
    z-index: 2;
    font-size: 20px;
}

img{
    width: 400px;
    height:400px;
    position: absolute;
    left: 600px; top: 560px;
    z-index: 3;
    
}
.white-background{
    background-color: white;
    position: absolute;
    left: 560px; top: 200px;
    width: 700px;
    height:800px;
    z-index: 1;
}
figcaption{
    
}